body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #f2fefe;
}

.message_colors{
    background-color: #ac2925;
    color: white;
}
.bgc {
    background-color: #f2fefe;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.color-white{
    color: white;
}
.navbar {
    background-color: #253d4c;
    opacity: 0.7;
    filter: alpha(Opacity=70);
  }

.navbar a{
    color: white;
  }
.navbar a{
    color: white;
    text-decoration: none;
  }

.alert-block-color{
    background-color: #253d4c;
    opacity: 0.7;
    filter: alpha(Opacity=70);
    color: white;
  }

.footer a{
    color: white;
}

.footer-color{
    color: white;
}

/*@font-face {*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-style: normal;*/
  /*font-weight: 300;*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
/*}*/